@import "./variables.scss";

.main-content {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Colors */
  --color-text: #000;
  --color-bg-main: #fff;
  --color-menu-item: #fff;
  --color-menu-item-hover: #e0f3ca;
  --color-bg-menu: #cbf3ee;
  --color-bg-facts: #000;
  --color-text-facts: #fff;
  --color-bg-img: #000;
  --color-bg-more-1: #fee9b1;
  --color-bg-more-2: #e0f3ca;
  --color-bg-more-3: #f3cae8;
  --color-bg-more-4: #cacaf3;
  --color-nav: #ddd;
  --color-nav-hover: #000;
  --color-link: #000;
  --color-link-hover: #333;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 992px) {
  .main-content {
    display: flex;
    flex-direction: column;
    padding: 4rem 0;
    background: rgb(48, 81, 206);
  }
  .sections__header {
    height: 0;
  }
  .section__metadata {
    background: rgb(48, 81, 206);
    width: 100%;
    color: white;
  }
  .sections__index {
    margin: auto;
    width: 170px;
    color: white;
  }
  .section__content {
    height: inherit;
  }
  .section__description {
    padding: 2rem 3rem;
    font-size: 16px;
  }
  .section__description-inner {
    line-height: 1.5;
  }
  .section__titles {
    min-height: inherit;
    margin: 10px 0 0 0;
  }
  .section__title span {
        display: block;
    padding: 0 2rem;
  }
  .section__title-container {
    position: inherit;
    top: 0;
  }
  .section__title {
    text-align: center;
  }
  .section__gardecard {
    margin-top: 30px;
  }
  .sections__index-total::after {
    background: white;
  }
}

.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
}

button {
  border: 0;
  background: none;
  margin: 0;
  padding: 0;
  font-family: inherit;
  cursor: pointer;
  -webkit-appearance: none;
}

button:focus {
  outline: none;
}

/* Icons */
.icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  fill: currentColor;
}

.title {
  text-transform: lowercase;
  font-size: 1.35rem;
  margin: 0;
}

.facts {
  display: none;
}

.sections__index {
  height: 12px;
  font-weight: bold;
  font-size: 0.75rem;
  display: block;
  align-self: end;
  display: flex;
  z-index: 1;
}
.sections__index-current {
  position: relative;
  overflow: hidden;
}
.sections__index-total {
  position: relative;
  margin: 0 0 0 8rem;
}
.sections__index-total::after {
  content: "";
  position: absolute;
  width: 6rem;
  height: 3px;
  top: calc(50% - 1.5px);
  right: calc(100% + 1rem);
}
.sections__index-inner {
  display: block;
  width: 1.4rem;
}

.section__description {
  overflow: hidden;
  position: relative;
  font-weight: 300;
  color: white;
}

.section__description-inner {
  display: block;
}

.section__gardecard {
  width: 80%;
  height: 100px;
  background: rgb(252, 217, 141);
  margin-left: 7%;
  -webkit-box-shadow: 30px 25px 0px 3px #ffa545;
  -moz-box-shadow: 30px 25px 0px 3px #ffa545;
  box-shadow: 30px 25px 0px 3px #ffa545;
  cursor: pointer;
}

.section__gardecard span {
  display: block;
  width: 100px;
  height: 100px;
  font-size: 5vw;
  margin: auto;
  font-weight: 600;
  line-height: 2;
  color: #ff8145;
}

.section__description-list div {
  margin: 20px 0;
  display: flex;
}

.section__img {
  height: 45vh;
  pointer-events: none;
}

.section__img-inner {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
}

@media screen and (min-width: 992px) {
  .sections {
    height: 100vh;
    overflow: hidden;
    position: relative;
    width: 50%;
    background: rgb(48, 81, 206);
  }
  .section {
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    width: 50%;
    background: rgb(48, 81, 206);
  }
  .section__content {
    height: 100vh;
  }
  .section__metadata {
    width: 50%;
    padding: 2rem 4rem 2rem 9vw;
  }

  .sections__header {
    height: 8rem;
  }

  .sections__index-total::after {
    background: #000;
  }
  .section__titles {
    position: relative;
    min-height: 10vw;
    margin: 10px 0 50px -3px;
  }

  .section__title-container {
    position: absolute;
    top: 0;
  }

  .section__title {
    font-size: 4vw;
    margin: 0;
    line-height: 1.2;
    position: relative;
    overflow: hidden;
  }

  .section__title span {
    display: inline-block;
  }
  .section__description {
    height: 100vh;
  }
  .section__description-inner {
    padding: 2rem 0;
    line-height: 1.5;
    font-size: 24px;
    padding: 10rem 4rem 2rem 4rem;
  }
  .codrops-icon {
    color: #fff;
  }
  .sections__nav {
    display: block;
    z-index: 5;
    background: linear-gradient(0deg, #ffffff 90%, rgba(255, 255, 255, 0));
  }
  .sections__nav-item {
    border: 2px solid var(--color-nav);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    margin-right: 10px;
    background: var(--color-bg-main);
  }
  .sections__nav-item:hover {
    border-color: var(--color-nav-hover);
  }
  .sections__nav-item .icon {
    width: 100%;
    height: 100%;
  }
  .section {
    pointer-events: none;
  }
  .section--current {
    pointer-events: auto;
  }
  .section__expander {
    background: var(--color-bg-facts);
    transform-origin: 0 0;
    left: -2vw;
    position: relative;
    z-index: 100;
  }
  .section__img {
    height: 100vh;
    grid-area: slide-image;
    overflow: hidden;
    z-index: 99;
  }
  .section:fist-of-type .section__img {
    background: var(--color-bg-img);
  }
  .sections--factsopen .sections__nav,
  .sections--factsopen .section__facts-item--clickable .section__facts-img,
  .sections--factsopen .facts__toggle {
    pointer-events: none;
  }
  .sections--factsopen .button-contentclose,
  .section--current .section__facts-item--clickable,
  .sections--factsopen .section__gallery-item {
    pointer-events: auto;
  }
  .js .section:not(.section--current) {
    pointer-events: none;
  }
}

@media screen and (max-width: 54.9em), screen and (max-height: 39.9em) {
  .codrops-icon .icon {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 2px solid;
    padding: 0.5rem;
  }
}
